* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.button { /*style for button (optional)*/
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    margin-left: 2vh;
    margin-top: 2vh;
}

#hamburger { /*style for the sliding burger menu*/
    position: absolute;
    width: 30vw;
    height: 100vh;
    left: 0;
    margin-left: -30vw;
    background-color: black;
}

.show-menu { /*class that activates the animation to display the hamburger menu*/
    animation: menu-slide-out 1s forwards; /*set time here (1 second) and use 'forwards' to keep the animation in final state*/
}

.hide-menu { /*class that activates the animation to hide the hamburger menu*/
    animation: menu-slide-in 1s forwards;
}

@keyframes menu-slide-out { /*animation settings to slide out the hamburger menu*/
    0% {
        transform: translateX(0vw);
    }

    100% {
        transform: translateX(30vw);
    }
}

@keyframes menu-slide-in { /*animation settings to slide in the hamburger menu*/
    0% {
        transform: translateX(30vw);
    }

    100% {
        transform: translateX(0vw);
    }
}

